.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app__main {
  display: grid;
  grid-template-columns: auto auto 1fr;
  overflow: hidden;
}

.app__left {
  border-right: 1px solid #222;
}
